# Local Testing Folders
/compensation_dashboard
/cron_automation
/scrape_test
/selenium_scrape
/canvas

# Unnecesary files
/streamlit_app/pages/__pycache__
/__pycache__
/streamlit_app/utils/__pycache__
*.pyc
geckodriver.log
/backup

# Secrets
/.streamlit
.env